.right-nav h1 {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 1.5em;
    color: #e3d9e7;
}

.right-nav h1:hover {
    color: #541ac0;
    text-decoration: underline;
    transition: 0.8s;
}

.container {
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
}

#sentence-box {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    font-family: 'Satoshi-Bold', sans-serif;
    color : #fff;
    text-align: center;
    line-height: 1.8;
}

#user-input {
    padding: 12px;
    font-size: 18px;
    border: 0.9px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 94%;
    text-align: center;
    font-family: 'Satoshi-Bold', sans-serif;
    
}

#error-count, #timer {
    font-size: 16px;
    margin-bottom: 10px;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

button {
    margin: 2%;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#timer {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 1.5em;
    color: #e3d9e7;
    text-align: center;

}

.number-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Satoshi-Bold', sans-serif;
    transition: background-color 0.5s;
}
    

.bar {
    width: 20px;
    margin: 2px;
    background-color: #FF6347;
    color: white;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    height: 0;
    transition: height 0.5s;
}


