@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    background: -webkit-linear-gradient(183deg, rgba(39,48,54,1) 43%, rgba(80,87,93,1) 100%);
    overflow: hidden;
    height: 100vh;
}

.navbar {
    font-family: 'Satoshi-Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 130px;
    margin-right: 10px;
}