@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi-Bold.woff') format('woff'),
    url('../fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(39, 48, 54);
    background: -moz-linear-gradient(183deg, rgba(39, 48, 54, 1) 43%, rgba(80, 87, 93, 1) 100%);
    background: -webkit-linear-gradient(183deg, rgba(39, 48, 54, 1) 43%, rgba(80, 87, 93, 1) 100%);
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
}

.navbar {
    margin-bottom: 1%;
    margin-top: -8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Satoshi-Bold', sans-serif;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 130px;
}

canvas {
    border: 1px solid #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 110%;
    color: white;
    border: none;
    background: -webkit-linear-gradient(183deg, rgba(39, 48, 54, 1) 43%, rgba(80, 87, 93, 1) 100%);
    border-radius: 3%;
    display: flex;
    margin: 15% auto;
    padding: 20px;
    width: 35%;
    height: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#retryButton{
    border: none;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 100%;
    border-radius: 4%;
    background-color: #495b62;
    color: #ffffff;
    width: 25%;
    height: 13%;
}

#retryButton:hover,
#retryButton:focus{
    background-color: #2e3d43;
    cursor: pointer;
}

.close {
    align-self: self-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}