<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>HighScore | BubbleSort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bubbleSort.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <script src="../games/bubbleSort.js"></script>
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="index.html" id="logo-link">
                <img src="../assets/img/games/logo.png" alt="Website Logo">
            </a>
        </div>
        <div class="right-nav">
            <h1>Tri a bulle visuel</h1>
        </div>
    </div>
    <div id="bubble-sort-container" class="container">
        <div id="bubble-sort-box"></div>
        <button onclick="startBubbleSort()">Commencer le tri à bulle</button>
    </div>
</body>

</html>
