<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/cps.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <title>HighScore | CPS</title>
</head>
<body>

<div id="cps">
    <p>Test ta vitesse de clique !</p>
</div>

<div class="click-box">
    <div class="click-box-array">
        <div class="click-area">
            <button id="start">Cliquez ici pour démarrer le CPS test</button>
            <div id="animation"></div>
        </div>
    </div>
    <div class="click-box-btn">
        <div id="timer">Durée : <span id="timerCount">0</span></div>
        <div id="clicks"> Clics/s : <span id="clicksCount">0</span></div>
        <div id="score">Score : <span id="scoreCount">0</span></div>
    </div>
</div>

</body>
</html>