<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../assets/img/logo.png">
        </div>
        <div class="right-nav">
            <button class="button">
                <i class="fa-solid fa-computer-mouse"></i> CPS CLICK
              </button>
        </div>
    </div>
    <div class="carousel">
        <ul class="carousel__list">
          <li class="carousel__item" data-pos="-2">1</li>
          <li class="carousel__item" data-pos="-1">2</li>
          <li class="carousel__item" data-pos="0">3</li>
          <li class="carousel__item" data-pos="1">4</li>
          <li class="carousel__item" data-pos="2">5</li>
        </ul>
      </div>
</body>
    <script src="../assets/js/index.Js"></script>
</html>