<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/keyboard-tester.css">
    <title>HightScore | Keyboard Tester</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../assets/img/logo.png">
        </div>
        <div class="right-nav">
            <h1>Test ta vitesse de frappe</h1>
        </div>
    </div>
    <div id="sentence-box"></div>
        <input type="text" id="user-input" placeholder="Tapez ici..." autocomplete="off">
        <button onclick="startTest()"><i class="fa-solid fa-play"></i></button>
        <p id="timer">Temps restant: <span id="time">60</span></p>
    </div>
    <p id="result"></p>
  
</body>
    <script src="../games/keyboard-tester.js"></script>
</html>