<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" href="../assets/css/memoryTest.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../assets/img/games/logo.png" alt="Website Logo">
        </div>
        <div class="right-nav">
            <h1>memoryTest</h1>
        </div>
    </div>
    <div id="game-container">
        <div class="game-board"></div>
        <button class="btn-12" id="start-button"><span>Commencer</span></button>

        <div class="scoreed">Score: <span id="score">0</span></div>
    </div>
    <script src="../games/memoryTest.js"></script>
</body>
</html>
