<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/morpion.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <script src="../games/morpion.js"></script>
    <title>HighScore | Morpion</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../assets/img/logo.png" alt="Website Logo">
        </div>
        <div class="right-nav">
            <h1>Jeu du Morpion</h1>
        </div>
    </div>
    <div id="level-selection">
        <button onclick="startGame('easy')">Facile</button>
        <button onclick="startGame('medium')">Moyen</button>
        <button onclick="startGame('hard')">Difficile</button>
    </div>
    <div id="game-board" class="game-board"></div>
    <div class="notification">
        <div class="notification-header">
            <h3 class="notification-title">New notification</h3>
            <i class="fa fa-times notification-close"></i>
        </div>
        <div class="notification-container">
            <div class="notification-media">
                <i class="fa fa-thumbs-up notification-reaction"></i>
            </div>
            <div class="notification-content">
                <p class="notification-text">
                <strong>Example</strong>, <strong>For</strong> My Notif <strong>For Ynov</strong>
                </p>
            </div>
            <span class="notification-status"></span>
        </div>
    </div>
</body>
</html>