<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/snakeIo.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <title>HighScore | CPS</title>
</head>
<body>

<div class="navbar">
    <div class="logo">
        <a href="index.html" id="logo-link">
            <img src="../assets/img/logo.png" alt="Website Logo">
        </a>
    </div>
    <div class="right-nav">
        <h1>CPS Test</h1>
    </div>
</div>

<canvas id="gameCanvas"></canvas>
<script src="../games/snakeIo.js"></script>

<div id="resultModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>Perdu !</h2>
        <p>Votre serpent mesurait <span id="snakeSize">0</span> cellules de long.</p>
        <button id="retryButton">Réessayer</button>
    </div>
</div>

</body>
</html>