<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>HighScore | Typing</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/typing.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <script src="../games/typing.js"></script>
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="../assets/img/logo.png" alt="Website Logo">
        </div>
        <div class="right-nav">
            <h1>Test ta vitesse de frappe</h1>
        </div>
    </div>
    <div id="sentence-box"></div>
    <label>
        <input type="text" id="user-input" placeholder="Tapez ici..." autocomplete="off">
    </label>
    <button onclick="startTest()"><i class="fa-solid fa-play"></i></button>
    <p id="timer">Temps restant: <span id="time">60</span></p>

    <p id="result"></p>
  
</body>

</html>
